PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_01.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_02.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_test_sample.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_40.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_10.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_05.csv
