PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_01.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_02.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_test_sample.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_40.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_10.csv
PYTHON/Ejercicios actividad/Tarea programación python/ZZ_tarea_final/inscritos_05.csv
Machine learning - PART I/Scripts/1_intro_ML.ipynb
Machine learning - PART I/Scripts/01-Medidas de bondad de ajuste.ipynb
Machine learning - PART I/Scripts/02-Ejemplo Medidas de bondad de ajuste-Threshold.ipynb
Machine learning - PART I/Scripts/02-Medidas de bondad de ajuste-Threshold.ipynb
Machine learning - PART I/Scripts/04-Redes_clasificacion_EjemploChicago.ipynb
Machine learning - PART I/Scripts/04-Redes_clasificacion_EjemploWineComentado.ipynb
Machine learning - PART I/Scripts/04-Redes_clasificacion_tr-v-ts.ipynb
Machine learning - PART I/Scripts/05_Redes_regresion.ipynb
Machine learning - PART I/Scripts/03-Redes_clasificacion.ipynb
Machine learning - PART I/Scripts/04-Redes_clasificacion.ipynb
Machine learning - PART I/Scripts/07_Redes_clasificacion_Keras.ipynb
Machine learning - PART I/Scripts/06-Redes_regresion.ipynb
Machine learning - PART I/Scripts/Ejemplo Video Games.ipynb
Machine learning - PART I/Scripts/MachineLearning_Ejemplos Generales.ipynb
Machine learning - PART I/Scripts/MachineLearning_Resumen.ipynb
Machine learning - PART I/Scripts/Redes_imagenes.ipynb
Machine learning - PART I/Data
